body {background-color: rgb(246, 201, 217);}
h1 {font-size: 70px;margin: 100px;}

article {font-size: 30px;
    margin-top: 66px;
    margin-left: 120px;
}
.img1 {width: 150px;}
.img2 {width: 150px;}
.img3 {width: 150px;}
.img4 {width: 150px;}
.img5 {width: 150px;}
